%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Above the fold

    %style{datafor: "abovethefold"}

  %body
    %h1
      Above the fold
    %h2 
      Css test

  %link{rel: "stylesheet", href: "./assets/css/main.css"}  